<nav class="nav">

    <!-- logo -->
    <h1 routerLink="/">E-SHOP</h1>

    <!-- search feature -->
    <div class="nav_search" *ngIf="menutype == 'default' ||'user' ">
        <input type="text" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for products"
            #searchInput />
        <button (click)="submitSearch(searchInput.value)">Search</button>
    </div>

    <!-- menutype -->
    <div [ngSwitch]="menutype">

        <!-- default -->
        <ul *ngSwitchCase="'default'">

            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="seller-auth">Seller</a>
            </li>
            <li>
                <a routerLink="user-auth">Login</a>
            </li>
            <li>
                <a>Cart({{cartItems}})</a>
            </li>
        </ul>


        <!-- user -->
        <ul *ngSwitchCase="'user'">
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="seller-auth">Seller</a>
            </li>
            <li>
                <a routerLink="/user-auth">{{userName}}</a>
            </li>
            <li>
                <a routerLink="/my-orders">My Order</a>
            </li>
            <li>
                <a [routerLink]=" cartItems > 0? '/cart-page' : null ">Cart({{cartItems}})</a>
            </li>
            <li>
                <a (click)="userLogOut()">LogOut</a>
            </li>


        </ul>

        <!-- seller -->
        <ul *ngSwitchCase="'seller'">
            <li>
                <a routerLink="seller-home">Product List</a>
            </li>
            <li>
                <a routerLink="seller-add-product">Add Product</a>
            </li>
            <li>
                <a (click)=' logOut()'> LogOut</a>
            </li>


        </ul>
    </div>
</nav>