<div class="product-list-wrapper" *ngIf="searchResult == result ">
	<h1>Search Product</h1>
	<div class="row">

		 <!-- list of searched product -->
		<div class="product-row col-sm-3" *ngFor="let item of searchResult ">
			<div class="product-item">
				<img src="{{item.productURL}}" alt="" class="product_image" routerLink="/product-detail/{{item.id}}">

				<div class="product-detail">
					<h5 class="name-head">{{item.productName}}</h5>
					<div class="product-price">Price: {{item.price}}</div>
					<div class="product-color">Color: {{item.color}}</div>

				</div>


				<div class="product-footer">
					<button routerLink="/product-detail/{{item.id}}" >View Detail</button>
				

				</div>
			</div>

		</div>
	</div>
</div>

<div *ngIf="searchResult==undefined">
	<div class="noItem">
		<h3>No Item Found</h3>
	</div>

</div>